/**
* @desc         Overlay styles
* @name         organisms/overlay
* @author       matthias.benfer@gmail.com
* @requires     -
*/

.#{$prefix}overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483646; // 32bit integer - 1 (so toolbar is on top)
    background-color: rgba(0, 0, 0, 0.9);

    .#{$prefix}overlayPanel {
        position: fixed;
        left: 15%;
        right: 15%;
        top: 0;
        bottom: 0;
    }
}