/**
* @desc         Toolbar styles
* @name         organisms/toolbar
* @author       matthias.benfer@gmail.com
* @requires     -
*/

.#{$prefix}toolbar {
    position: fixed;
    right: 12px;
    bottom: 12px;
    z-index: 10002;

    .#{$prefix}note {
        position: absolute;
        bottom: 50%;
        right: 50%;
        padding-right: 50%;
        transform: translate(-10px, 50%);
    }
}