/**
* @desc         Icons and icon helper classes
* @name         atoms/icons
* @author       matthias.benfer@gmail.com
* @requires     -
*/

@mixin wrenchIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik01LjUgMGMtMS4zOCAwLTIuNSAxLjEyLTIuNSAyLjUgMCAuMzIuMDguNjIuMTkuOTFsLTIuOTEgMi44OGMtLjM5LjM5LS4zOSAxLjA1IDAgMS40NC4yLjIuNDYuMjguNzIuMjguMjYgMCAuNTItLjA5LjcyLS4yOGwyLjg4LTIuOTFjLjI4LjExLjU4LjE5LjkxLjE5IDEuMzggMCAyLjUtMS4xMiAyLjUtMi41IDAtLjE2IDAtLjMyLS4wMy0uNDdsLS45Ny45N2gtMnYtMmwuOTctLjk3Yy0uMTUtLjAzLS4zMS0uMDMtLjQ3LS4wM3ptLTQuNSA2LjVjLjI4IDAgLjUuMjIuNS41cy0uMjIuNS0uNS41LS41LS4yMi0uNS0uNS4yMi0uNS41LS41eiIvPjwvc3ZnPg==);
}
@mixin cogIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGQ9Ik0zLjUgMGwtLjUgMS4xOWMtLjEuMDMtLjE5LjA4LS4yOC4xM2wtMS4xOS0uNS0uNzIuNzIuNSAxLjE5Yy0uMDUuMS0uMDkuMTgtLjEzLjI4bC0xLjE5LjV2MWwxLjE5LjVjLjA0LjEuMDguMTguMTMuMjhsLS41IDEuMTkuNzIuNzIgMS4xOS0uNWMuMDkuMDQuMTguMDkuMjguMTNsLjUgMS4xOWgxbC41LTEuMTljLjA5LS4wNC4xOS0uMDguMjgtLjEzbDEuMTkuNS43Mi0uNzItLjUtMS4xOWMuMDQtLjA5LjA5LS4xOS4xMy0uMjhsMS4xOS0uNXYtMWwtMS4xOS0uNWMtLjAzLS4wOS0uMDgtLjE5LS4xMy0uMjhsLjUtMS4xOS0uNzItLjcyLTEuMTkuNWMtLjA5LS4wNC0uMTktLjA5LS4yOC0uMTNsLS41LTEuMTloLTF6bS41IDIuNWMuODMgMCAxLjUuNjcgMS41IDEuNXMtLjY3IDEuNS0xLjUgMS41LTEuNS0uNjctMS41LTEuNS42Ny0xLjUgMS41LTEuNXoiLz48L3N2Zz4=);
}
@mixin arrowLeftIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNOCAwdjNoLTh2NGg4djNsOC01LTgtNXoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgMykiIC8+PC9zdmc+);
}
@mixin trashIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiMxMTExMTEiIGQ9Ik0zIDBjLS41NSAwLTEgLjQ1LTEgMWgtMWMtLjU1IDAtMSAuNDUtMSAxaDdjMC0uNTUtLjQ1LTEtMS0xaC0xYzAtLjU1LS40NS0xLTEtMWgtMXptLTIgM3Y0LjgxYzAgLjExLjA4LjE5LjE5LjE5aDQuNjNjLjExIDAgLjE5LS4wOC4xOS0uMTl2LTQuODFoLTF2My41YzAgLjI4LS4yMi41LS41LjVzLS41LS4yMi0uNS0uNXYtMy41aC0xdjMuNWMwIC4yOC0uMjIuNS0uNS41cy0uNS0uMjItLjUtLjV2LTMuNWgtMXoiIC8+PC9zdmc+);
}
@mixin downloadIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiMxMTExMTEiIGQ9Ik0zIDB2M2gtMmwzIDMgMy0zaC0ydi0zaC0yem0tMyA3djFoOHYtMWgtOHoiIC8+PC9zdmc+);
}

@mixin envelopeClosedIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0wIDB2MWw0IDIgNC0ydi0xaC04em0wIDJ2NGg4di00bC00IDItNC0yeiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxKSIgLz48L3N2Zz4=);
}
@mixin envelopeClosedIcon-111111 {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiMxMTExMTEiIGQ9Ik0wIDB2MWw0IDIgNC0ydi0xaC04em0wIDJ2NGg4di00bC00IDItNC0yeiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAxKSIgLz48L3N2Zz4=);
}

@mixin audioIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0xLjE2IDBjLS43Mi43Mi0xLjE2IDEuNzEtMS4xNiAyLjgxcy40MyAyLjEyIDEuMTYgMi44NGwuNzItLjcyYy0uNTQtLjU0LS44OC0xLjI5LS44OC0yLjEzIDAtLjgzLjMzLTEuNTUuODgtMi4wOWwtLjcyLS43MnptNS42OSAwbC0uNzIuNzJjLjU0LjU0Ljg4IDEuMjYuODggMi4wOSAwIC44My0uMzMgMS41OC0uODggMi4xM2wuNzIuNzJjLjcyLS43MiAxLjE2LTEuNzQgMS4xNi0yLjg0IDAtMS4xLS40My0yLjA5LTEuMTYtMi44MXptLTQuMjUgMS40MWMtLjM2LjM2LS41OS44Ni0uNTkgMS40MSAwIC41NS4yMyAxLjA4LjU5IDEuNDRsLjY5LS43MmMtLjE4LS4xOC0uMjgtLjQ0LS4yOC0uNzIgMC0uMjguMS0uNS4yOC0uNjlsLS42OS0uNzJ6bTIuODEgMGwtLjY5LjcyYy4xOC4xOC4yOC40MS4yOC42OSAwIC4yOC0uMS41NC0uMjguNzJsLjY5LjcyYy4zNi0uMzYuNTktLjg5LjU5LTEuNDQgMC0uNTUtLjIzLTEuMDUtLjU5LTEuNDF6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDEpIi8+PC9zdmc+);
}
@mixin audioIcon-111111 {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiMxMTExMTEiIGQ9Ik0xLjE2IDBjLS43Mi43Mi0xLjE2IDEuNzEtMS4xNiAyLjgxcy40MyAyLjEyIDEuMTYgMi44NGwuNzItLjcyYy0uNTQtLjU0LS44OC0xLjI5LS44OC0yLjEzIDAtLjgzLjMzLTEuNTUuODgtMi4wOWwtLjcyLS43MnptNS42OSAwbC0uNzIuNzJjLjU0LjU0Ljg4IDEuMjYuODggMi4wOSAwIC44My0uMzMgMS41OC0uODggMi4xM2wuNzIuNzJjLjcyLS43MiAxLjE2LTEuNzQgMS4xNi0yLjg0IDAtMS4xLS40My0yLjA5LTEuMTYtMi44MXptLTQuMjUgMS40MWMtLjM2LjM2LS41OS44Ni0uNTkgMS40MSAwIC41NS4yMyAxLjA4LjU5IDEuNDRsLjY5LS43MmMtLjE4LS4xOC0uMjgtLjQ0LS4yOC0uNzIgMC0uMjguMS0uNS4yOC0uNjlsLS42OS0uNzJ6bTIuODEgMGwtLjY5LjcyYy4xOC4xOC4yOC40MS4yOC42OSAwIC4yOC0uMS41NC0uMjguNzJsLjY5LjcyYy4zNi0uMzYuNTktLjg5LjU5LTEuNDQgMC0uNTUtLjIzLTEuMDUtLjU5LTEuNDF6IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDEpIi8+PC9zdmc+);
}

@mixin listIcon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiNmZmZmZmYiIGQ9Ik0uNSAwYy0uMjggMC0uNS4yMi0uNS41cy4yMi41LjUuNS41LS4yMi41LS41LS4yMi0uNS0uNS0uNXptMS41IDB2MWg2di0xaC02em0tMS41IDJjLS4yOCAwLS41LjIyLS41LjVzLjIyLjUuNS41LjUtLjIyLjUtLjUtLjIyLS41LS41LS41em0xLjUgMHYxaDZ2LTFoLTZ6bS0xLjUgMmMtLjI4IDAtLjUuMjItLjUuNXMuMjIuNS41LjUuNS0uMjIuNS0uNS0uMjItLjUtLjUtLjV6bTEuNSAwdjFoNnYtMWgtNnptLTEuNSAyYy0uMjggMC0uNS4yMi0uNS41cy4yMi41LjUuNS41LS4yMi41LS41LS4yMi0uNS0uNS0uNXptMS41IDB2MWg2di0xaC02eiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjUpIi8+PC9zdmc+);
}
@mixin listIcon-111111 {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPjxwYXRoIGZpbGw9IiMxMTExMTEiIGQ9Ik0uNSAwYy0uMjggMC0uNS4yMi0uNS41cy4yMi41LjUuNS41LS4yMi41LS41LS4yMi0uNS0uNS0uNXptMS41IDB2MWg2di0xaC02em0tMS41IDJjLS4yOCAwLS41LjIyLS41LjVzLjIyLjUuNS41LjUtLjIyLjUtLjUtLjIyLS41LS41LS41em0xLjUgMHYxaDZ2LTFoLTZ6bS0xLjUgMmMtLjI4IDAtLjUuMjItLjUuNXMuMjIuNS41LjUuNS0uMjIuNS0uNS0uMjItLjUtLjUtLjV6bTEuNSAwdjFoNnYtMWgtNnptLTEuNSAyYy0uMjggMC0uNS4yMi0uNS41cy4yMi41LjUuNS41LS4yMi41LS41LS4yMi0uNS0uNS0uNXptMS41IDB2MWg2di0xaC02eiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAwLjUpIi8+PC9zdmc+);
}

.#{$prefix}wrenchIcon {
    @include wrenchIcon;
}

.#{$prefix}cogIcon {
    @include cogIcon;
}

.#{$prefix}trashIcon {
    @include trashIcon;
}

.#{$prefix}downloadIcon {
    @include downloadIcon;
}

.#{$prefix}envelopeClosedIcon {
    @include envelopeClosedIcon;
}
.#{$prefix}envelopeClosedIcon-111111 {
    @include envelopeClosedIcon-111111;
}

.#{$prefix}audioIcon {
    @include audioIcon;
}
.#{$prefix}audioIcon-111111 {
    @include audioIcon-111111;
}

.#{$prefix}listIcon {
    @include listIcon;
}
.#{$prefix}listIcon-111111 {
    @include listIcon-111111;
}

.#{$prefix}icon24x24 {
    display: block;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-position: center center;
}

.#{$prefix}icon16x16 {
    display: block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    background-position: center center;
}